@using EntityLayer.Concrete
@model Writer
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme </h4>
            <form class="forms-sample" asp-action="WriterEditProfile" asp-controller="Writer" method ="post">
                <div class="form-group">
                    <input type="hidden"  class="form-control" asp-for="WriterID" readonly/>
                    <label for="exampleInputName1">Yazar Ad Soyad</label>
                    <input type="text" class="form-control" id="exampleInputName1" asp-for="WriterName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" asp-for="WriterEmail">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" asp-for="WriterPassword">
                </div>             
                <div class="form-group">
                    <label>Yazar Görsel</label>
                    <input type="file" name="img[]" class="file-upload-default" asp-for="WriterImage">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info"  disabled placeholder ="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Resim Seç</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yazar Hakkında</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" asp-for="WriterAbout"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>