<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" placeholder="Adınız Soyadınız" required="" name="CommentUserName">
            <input class="form-control" type="text" placeholder="Konu" required="" name="CommentTitle">        
            <textarea class="form-control" placeholder="Yorumunuz..." required="" name="CommentContent"></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>